@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

:root {
    --accent: #000;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Pretendard';
    background: #f8f8f8;
}

#app {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
}

#info {
    margin-bottom: 20px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.songform {
    font-weight: 700;
}

.madi {
    margin: 10px 0;
    border-right: #000 solid 1px;
    padding: 2px;
}

.chords {
    display: flex;
    flex-grow: 1;
    padding: 5px 0;
}

.madi:nth-child(4n+1) {
    border-left: #000 solid 1px;
}

.chords > div {
    width: 100%;
    border-right: #e0e0e0 solid 1px;
}

.chords > div:nth-child(8n) {
    border-right: white solid 0px;
}

.lyrics {
    height: 1rem;
}